body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mealCard container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mealCard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.mealCard img {
  /* max-width: 100%; */
  border-radius: 10px;
  /* border: 2px solid red; */
}

img {
  width: 50%;
  border: 2px solid gold;
}
ul {
  border: 2px solid red;
  list-style: none;
  text-align: center;
  margin: 10px 0;
  font-size: 1rem;
}

li {
  margin: 5px 0;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff4757;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
